#map {
  font-family: Helvetica, Arial, sans-serif;
  width: 900px;
  height: 800px;
  border: 2px solid black;
  margin: 10px;
}

.leaflet-container {
  background-color: #fef4b6;
}

#map-title {
  position: absolute;
  z-index: 3000;
  left: 25px;
  bottom: 25px;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid black;
}

#text-title {
  font-size: 25px;
  line-height: 25px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

/* ------------popups------------ */

.popup-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8;
}

.popup-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.8;
}

/* ------------tooltips------------ */

.tooltip-no-label {
  padding-left: 0;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: none;
}

.tooltip-city-name-main {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.tooltip-city-name-secondary {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.tooltip-province-name {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: 5px !important;
  margin: 1px !important;
  line-height: 14px;
}

.tooltip-country-name {
  font-size: 19px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  padding: 1px !important;
  margin: 1px !important;
  line-height: 10px;
}

.star {
  font-size: 15px;
}

#color-selector {
  color: #77b5fd;
}
