#map {
  font-family: Helvetica, Arial, sans-serif;
  width: 750px;
  height: 750px;
  border: 2px solid black;
  margin: 10px;
}

.leaflet-container {
  background-color: #e6e6e6;
}

.popup-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 0.8;
}

.popup-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.8;
}

.tooltip-city-name {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.tooltip-province-name {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding: 5px !important;
  margin: 1px !important;
  line-height: 14px;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
}

.star {
  font-size: 1em;
}

#map-title {
  position: absolute;
  z-index: 3000;
  left: 25px;
  bottom: 25px;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid black; 
}

#text-title {
  font-size: 25px;
  line-height: 25px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}